.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(110.33deg, #2C1658 0%, #141414 60.58%, #2C1658 113.12%);
  width: 100%;
  height: 6vw;
  gap: 1vw;

  .navbar-title {
    color: white;
  }

  .navbar-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;

    .navbar-contact-tab,
    .navbar-projects-tab,
    .navbar-home-tab {
      font-size: 1.6vw;
      color: white;
    }
  }
}